<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="accordion-item">
    <h2 class="accordion-header" id="accordion-heading-{data.uid}-{record.uid}">
        <button class="accordion-button{f:if(condition: '{activeElement} == {record.uid}', else:' collapsed')}" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-{data.uid}-{record.uid}" aria-expanded="{f:if(condition: '{activeElement} == {record.uid}', then: 'true', else: 'false')}" aria-controls="accordion-{data.uid}-{record.uid}">{record.header}</button>
    </h2>
    <div id="accordion-{data.uid}-{record.uid}" class="accordion-collapse collapse{f:if(condition: '{activeElement} == {record.uid}', then: ' show')}" aria-labelledby="accordion-heading-{data.uid}-{record.uid}" {f:if(condition: '{accordionOpenStyle} == "single"' , then: ' data-bs-parent="#accordion-{data.uid}"' )}>
        <div class="accordion-body">
            <div class="accordion-content accordion-content-{record.mediaorient}">
                <f:if condition="{record.image}">
                    <div class="accordion-content-item accordion-content-media">
                        <f:for each="{record.image}" as="file">
                            <img src="{f:uri.image(image: file)}" alt="" class="img-fluid">
                        </f:for>
                    </div>
                </f:if>
                <div class="accordion-content-item accordion-content-text">
                    <f:format.html>{record.bodytext}</f:format.html>
                </div>
            </div>
        </div>
    </div>
</div>



</html>