:root {
    --semicollapse-accordion-bg: #f5f5f5;
    --semicollapse-accordion-border: #f1f1f1;
    --semicollapse-accordion-height: 150px;
}

.height-200 {
    --semicollapse-accordion-height: 200px;
}

.height-300 {
    --semicollapse-accordion-height: 300px;
}

.height-400 {
    --semicollapse-accordion-height: 400px;
}

.semi-collapsible-list {
    display: grid;
    row-gap: 1.5rem;
}

.semi-collapse-item {
    background-color: var(--semicollapse-accordion-bg);
    border: var(--semicollapse-accordion-border);

    & + & {
        margin-top: var(--bs-gutter-x);
    }
}

.semi-collapsible-body {
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.semi-collapsible-button {
    --semicollapse-accordion-btn: #c73028;
    --semicollapse-accordion-btn-hover: #9d261f;
    --semicollapse-accordion-btn-border: #b22b24;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--bs-accordion-border-radius);
    color: var(--bs-white);
    background-color: var(--semicollapse-accordion-btn);
    border: 1px solid var(--semicollapse-accordion-btn-border);
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
    position: relative;

    &:hover,
    &:focus,
    &:active {
        background-color: var(--semicollapse-accordion-btn-hover);
        color: var(--bs-white);
    }

    &:focus {
        border-color: #48110e;
    }

    &::before {
        content: "\F64D"; // Plus
        font-family: $bootstrap-icons-font;
        -webkit-text-stroke: 1px;
        font-size: 20px;
        position: relative;
        display: inline-block;
    }

    &[aria-expanded="true"] {
        &::before {
            content: "\F63B"; // Minus
        }
    }
}

.semi-collapse-accordion-collapse.collapsing {
    height: var(--semicollapse-accordion-height);
}

.semi-collapse-accordion-collapse.collapse:not(.show) {
    display: block;
    position: relative;
    height: var(--semicollapse-accordion-height);
    overflow: hidden;
}

.semi-collapse-accordion-collapse:not(.show)::after {
    content: "";
    background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0, rgba(245, 245, 245, .85) 100%);
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.semi-collapse-accordion-collapse.collapse.show::after {
    display: none;
}

/* Image positioning */
.semi-collapsible-media.textpic-bottom .accordion-content-media-item {
    order: 2;
}